[Unit]
Description=NMEA data logger and server
Documentation=https://github.com/westernflyer/wf-data-server-js
After=network.target

[Service]
Type=simple
User=nmea
Group=nmea
WorkingDirectory=/home/nmea/git/wf-data-server-js
ExecStart=/home/nmea/.nvm/versions/node/v22.22.0/bin/node index.js
Restart=always
# Wait 5 seconds before restarting
RestartSec=5
StandardOutput=null
StandardError=journal+console
SyslogIdentifier=wf-data-server

[Install]
WantedBy=multi-user.target
